.fondo{
    background-color:	#47b16f;
}

.fondo1{
    background-color:	#b6d89b;
}

.fondo2{
    background-color:	#a7b592;
}

.letras{
    color:	#a22b1e;
}

.letras1{
    color:	#f7968c;
}

.FuturaFont{
    font-family: 'Futurama Bold Font'
 }