{% extends 'padre.html' %}

{% block contenidoMio %}
<div>
    <p class="FuturaFont">About</p>
    <p>Mi nombre es Lucas Troncoso, tengo 38 años, soy analista de sistemas,
      trabajo en una multinacional en dos sectores en simultaneo, en pago a
      proveedores y en el sector de RPA donde se desarrolla software de automatizacion.
    </p>
    <p>Me gusta aprender herramientas nuevas dentro del mundo de la programacion para
        para poder capacitarme, aprender e insertarme en el mundo laboral de sistemas y 
        desarrollo, por eso realize este curso de desarrollo web en python.
    </p>
    <p>El trabajo practico es una web de la pagina de la empresa planet express de la 
        serie animada de futurama, simula de manera simple una pagina de envio de Productos
        con tematica y estilo de Futurama.
    </p>

</div>
  
{% endblock contenidoMio %}