{% extends 'padre.html' %}

{% block contenidoMio %}
<p>Formulario Producto</p>
<form action="{% url 'formularioProducto' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <h2 for="exampleInputEmail1">Nombre</h2>
        <input class="form-control" >
    </div>
    <div class="form-group">
        <h2 for="exampleInputEmail1">Numero</h2>
        <input class="form-control" >    
      </div>
      <div class="form-group">
        <h2 for="exampleInputEmail1">Cantidad</h2>
        <input class="form-control" >    
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock contenidoMio %}