{% extends 'padre.html' %}

{% block contenidoMio %}
<p class="FuturaFont">Formulario Producto</p>
<form action="{% url 'formularioProducto' %}" method="post">{% csrf_token %}
    <div class="form-group FuturaFont">
        <h2>Nombre</h2>
        <input class="nombre" >
    </div>
    <div class="form-group FuturaFont">
        <h2>Numero</h2>
        <input class="numero" >    
      </div>
      <div class="form-group FuturaFont">
        <h2>Cantidad</h2>
        <input class="cantidad" >    
      </div>
    <button type="submit" class="btn btn-primary FuturaFont">Submit</button>
  </form>
{% endblock contenidoMio %}