{% extends 'padre.html' %}

{% block contenidoMio %}
<p class="FuturaFont">Formulario Envio</p>
<form action="{% url 'formularioEnvio' %}" method="post">{% csrf_token %}
    <div class="form-group FuturaFont">
      <h2>Origen</h2>
      <input name="origen" type="text" >    
    </div>
    <div class="form-group FuturaFont">
        <h2>Destino</h2>
        <input name="destino" type="text" >    
      </div>
      <div class="form-group FuturaFont">
        <h2>Numero</h2>
        <input name="numero" type="number" >    
      </div>
    <div class="form-group FuturaFont">
        <h2>Producto</h2>
        <input name="producto" type="number" >    
      </div>
    <button type="submit" class="btn btn-primary FuturaFont">Submit</button>
  </form>
{% endblock contenidoMio %}